doctype html
html(ng-app='agora')
	head
		title= title
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		link(rel='stylesheet', href='/stylesheets/w3.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')

		script(src='/javascripts/agora.js')

	body
		block content
